<h3>User</h3>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
<p>Last Name: <%= @user.last_name if @user.last_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Address: <%= @user.address if @user.address %></p>
<p>Phone: <%= @user.phone if @user.phone %></p>
<p>comments: <%= @user.comments if @user.comments %></p>
<p>Rsvip Status: <%= @user.rsvip_status if @user.rsvip_status %></p>
